<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('raw-loader?esModule=false!./meta.html') %>
  <!-- <script><%= require('raw-loader?esModule=false!../src/utils/rem.js') %></script> -->
  <title>输出打包</title>
  <style>
    <%= require('raw-loader?esModule=false!../assets/reset.css') %>
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>